.header-custom{
    background-color: #1F2937;
}


.anchor-custom{
    text-decoration: none;
    color: gray;
}

.placeholder-custom{
    background-color: rgb(113, 113, 113);
    text-align: center;
    margin-left: 300px;
    margin-right: 100px;
    margin-bottom: 25px;
    padding: 100px;
    color: #e1e1e1;
}

.card-custom {
    min-width: 150px; 
    width: 200px;
    height: 200px;
    border: 2px solid #4A90E2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    color: #666;
    background-color: white; 
}

.card-text {
    width: 200px;           
    text-align: center;       
    white-space: normal;      
    overflow: visible;        
    text-overflow: unset;     
    margin: 0 auto;           
}

.margin-card-custom{
    margin-bottom: 100px;
}

.quote-section {
    background-color: #E5E7EB
}

.quote-text{
    font-size: 28px;
    color: #1F2937;
    line-height: 1.6; 
    max-width: 600px;   
}

.quote-author{
    color: #1F2937;
    font-size: 16px;
    margin-top: 20px;    
}

.quote-border{
    border: solid #E5E7EB;
}

.footer-custom{
    background-color:#1F2937;
    color: #e5e7eb;
    font-size: 14px;
}